<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout | Aava Treasures</title>
    <link rel="stylesheet" href="../styles/address.css" />
    <link rel="icon" href="../images/logo.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=My+Soul&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="nav" id="nav">
      <div class="logo" id="logo">
        <a href="">
          <img src="../images/logo3.png" alt="AAVA" />
        </a>
      </div>

      <div class="nav_bar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#categories">Categories</a></li>
          <li><a href="/product-page">Products</a></li>
          <li><a href="#footer">Contact</a></li>
        </ul>
      </div>

      <div class="right_part">
        <div class="search-box">
          <input
            type="text"
            id="searchBox"
            placeholder="Search for products..."
          />
          <button id="searchBtn">
            <img src="../images/search.png" alt="Search" />
          </button>
        </div>
        <div class="cart" id="cart">
          <a href="">
            <img id="s_cart" src="../images/ShoppingCart.png" alt="AAVA" />
          </a>
        </div>

        <div class="profile" id="profile">
          <a href="">
            <!-- <img id="s_cart" src="../images/user.png" alt="AAVA" /> -->
            <div class="log">
              <span>Login</span>
            </div>

            <div class="regs" id="regs">
              <span>Register</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <main class="checkout-wrapper">
      <!-- LEFT SIDE: Address Form -->
      <section class="address-section">
        <h2>Shipping Information</h2>
        <form id="address-form">
          <div class="input-group">
            <label for="fullname">Full Name</label>
            <input type="text" id="fullname" />
          </div>

          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" />
          </div>

          <div class="input-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" />
          </div>

          <div class="input-group">
            <label for="address">Address</label>
            <input type="text" id="address" />
          </div>

          <div class="input-row">
            <div class="input-group half">
              <label for="city">City</label>
              <input type="text" id="city" />
            </div>
            <div class="input-group half">
              <label for="zipcode">Postal Code</label>
              <input type="text" id="zipcode" />
            </div>
          </div>

          <div class="con-btn">
            <button type="submit" class="continue-btn">
              Continue to Payment
            </button>
          </div>
        </form>
      </section>

      <!-- RIGHT SIDE: Order Summary -->
      <section class="order-summary" id="order-summary">
        <h2>Order Summary</h2>
      </section>
    </main>

    <section class="footer" id="footer">
      <div class="f-container">
        <div class="f-about">
          <a href=""
            ><img
              src="../images/logo3.png"
              alt="Aava Treasures Logo"
              class="f-logo"
          /></a>
          <p>
            Discover timeless elegance with Aava Treasures. Unique handmade
            jewelry to elevate every occasion.
          </p>
        </div>

        <div class="f-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#categories">Categories</a></li>
            <li><a href="/#latest">New Arrivals</a></li>
            <li><a href="#footer">Contact</a></li>
          </ul>
        </div>

        <div class="connect">
          <div class="f-img">
            <img src="../images/aava_treasures_qr.png" alt="QR Code" />
            <div class="s-m">
              <span class="slogan instagram-gradient"
                >Scan to connect with us on Instagram</span
              >
              <img src="../images/insta-icon1.png" alt="Instagram Icon" />
            </div>
          </div>

          <div class="others-media">
            <a href=""><img src="../images/insta-icon1.png" alt="" /></a>
            <a href=""><img src="../images/facebook.png" alt="" /></a>
            <a href=""><img src="../images/tiktok.png" alt="" /></a>
          </div>
        </div>
      </div>

      <div class="f-bottom">
        <p>&copy; 2025 Aava Treasures. All rights reserved.</p>
      </div>
    </section>

    <form
      action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
      method="POST"
      style="display: none"
    >
      <input type="text" id="amount" name="amount" value="" required />
      <input type="text" id="tax_amount" name="tax_amount" value="0" required />
      <input
        type="text"
        id="total_amount"
        name="total_amount"
        value=""
        required
      />
      <input
        type="text"
        id="transaction_uuid"
        name="transaction_uuid"
        value=""
        required
      />
      <input
        type="text"
        id="product_code"
        name="product_code"
        value="EPAYTEST"
        required
      />
      <input
        type="text"
        id="product_service_charge"
        name="product_service_charge"
        value="0"
        required
      />
      <input
        type="text"
        id="product_delivery_charge"
        name="product_delivery_charge"
        value="0"
        required
      />
      <input
        type="text"
        id="success_url"
        name="success_url"
        value="https://developer.esewa.com.np/success"
        required
      />
      <input
        type="text"
        id="failure_url"
        name="failure_url"
        value="https://developer.esewa.com.np/failure"
        required
      />
      <input
        type="text"
        id="signed_field_names"
        name="signed_field_names"
        value="total_amount,transaction_uuid,product_code"
        required
      />
      <input type="text" id="signature" name="signature" value="" required />
      <input value="Submit" type="submit" />
    </form>
  </body>
  <script type="module" src="../script/address.js"></script>
  <!-- <script type="module" src="../script/slider.js"></script> -->
</html>
