<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/Homepage.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="landing_page">
        <div class="nav" id="nav">
          <div class="logo" id="logo">
            <a href="">
              <img src="" alt="AAVA" />
            </a>
          </div>

          <div class="nav_bar" id="nav-bar">
            <ul>
              <li class="items">Home</li>
              <li class="items">Categories</li>
              <li class="items">Contact</li>
            </ul>
          </div>

          <div class="right_part">
            <div class="cart" id="cart">
              <a href="">
                <img id="s_cart" src="../images/ShoppingCart.png" alt="AAVA" />
              </a>
            </div>

            <div class="profile" id="profile">
              <a href="">
                <img id="s_cart" src="../images/user.png" alt="AAVA" />
              </a>
            </div>
          </div>
        </div>

        <div class="l_page">
          <img id="www" src="../images/sparkling-avenues-desktop.webp" alt="" />
        </div>
      </div>

      <div class="categories" id="categories"></div>
      <div class="c-text">
        <span id="c-title">Shop By categories</span>
      </div>

      <div class="categories-slots">
        <div class="category">
          <img src="../images/earrings.jpg" alt="Earrings" />
          <span>Earrings</span>
        </div>
        <div class="category">
          <img src="../images/bracelet.jpg" alt="Bracelet" />
          <span>Bracelet</span>
        </div>
        <div class="category">
          <img src="../images/necklace.jpg" alt="Necklace" />
          <span>Necklace</span>
        </div>
        <div class="category">
          <img src="../images/rings.jpg" alt="Rings" />
          <span>Rings</span>
        </div>
      </div>
    </div>
  </body>
</html>
