<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/Frontend/styles/Products.css" />
  </head>
  <body>
    <div class="nav" id="nav">
          <div class="logo" id="logo">
            <a href="">
              <img src="../images/logo3.png" alt="AAVA" />
            </a>
          </div>

          <div class="nav_bar">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="right_part">
            <div class="cart" id="cart">
              <a href="">
                <img id="s_cart" src="../images/ShoppingCart.png" alt="AAVA" />
              </a>
            </div>

            <div class="profile" id="profile">
              <a href="">
                <!-- <img id="s_cart" src="../images/user.png" alt="AAVA" /> -->
                 <div class="log">
                   <span>Login</span>
                 </div>

                 <div class="regs" id="regs">
                   <span>Register</span>
                 </div>
              </a>
            </div>
            <div id="registerModal" class="modal" style="display: none">
              <div class="modal-content" id="registerContent"></div>
            </div>
          </div>
        </div>

    <section class="product-latest" id="product-latest">
      <div class="product-header">
        <span id="product-title">Earrings</span>
        <div class="para">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam
            accusantium nihil quod possimus a. Eum est asperiores corrupti
            quibusdam, ipsum, beatae eius voluptates assumenda nulla cum magnam
            cumque, delectus et?
          </p>
        </div>
      </div>

      <div class="product-slots">
        <div class="product-card">
          <img src="../images/e-1.png" alt="Earrings" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Earring</span>
            <span class="product-category">Earrings</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-2.png" alt="Necklace" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Necklace</span>
            <span class="product-category">Necklace</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-3.jpg" alt="Earrings" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Earring</span>
            <span class="product-category">Earrings</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-4.jpg" alt="Bracelet" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Bracelet</span>
            <span class="product-category">Bracelet</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-5.jpg" alt="Ring" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Ring</span>
            <span class="product-category">Ring</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>
        <div class="product-card">
          <img src="../images/e-6.jpg" alt="Earrings" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Earring</span>
            <span class="product-category">Earrings</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-7.jpg" alt="Necklace" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Necklace</span>
            <span class="product-category">Necklace</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-8.jpg" alt="Earrings" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Earring</span>
            <span class="product-category">Earrings</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-9.jpg" alt="Bracelet" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Bracelet</span>
            <span class="product-category">Bracelet</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>

        <div class="product-card">
          <img src="../images/e-10.jpg" alt="Ring" />
          <div class="product-info">
            <span class="product-name">Black Manmeet Ring</span>
            <span class="product-category">Ring</span>
            <div class="product-price-tag">
              <img
                class="price-icon"
                src="../images/price-tag.png"
                alt="Price Tag"
              />
              <span class="product-price">RS.1200</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="footer" id="footer">
      <div class="f-container">
        <div class="f-about">
          <a href=""
            ><img
              src="../images/logo3.png"
              alt="Aava Treasures Logo"
              class="f-logo"
          /></a>
          <p>
            Discover timeless elegance with Aava Treasures. Unique handmade
            jewelry to elevate every occasion.
          </p>
        </div>

        <div class="f-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">New Arrivals</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="connect">
          <div class="f-img">
            <img src="../images/aava_treasures_qr.png" alt="QR Code" />
            <div class="s-m">
              <span class="slogan instagram-gradient"
                >Scan to connect with us on Instagram</span
              >
              <img src="../images/insta-icon1.png" alt="Instagram Icon" />
            </div>
          </div>

          <div class="others-media">
            <a href=""><img src="../images/insta-icon1.png" alt="" /></a>
            <a href=""><img src="../images/facebook.png" alt="" /></a>
            <a href=""><img src="../images/tiktok.png" alt="" /></a>
          </div>
        </div>
      </div>

      <div class="f-bottom">
        <p>&copy; 2025 Aava Treasures. All rights reserved.</p>
      </div>
    </section>
  </body>
</html>
