<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=My+Soul&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <link rel="stylesheet" href="../styles/register.css" />
  </head>
  <body>
    <main>
      <form id="registerForm" class="form-container">
        <div class="content">
          <div class="left">
            <div class="l-img">
              <img src="../images/reg.png" alt="User signup illustration" />
            </div>
          </div>

          <div class="right">
            <span id="close-btn">&times;</span>
            <div class="header">
              <h2>Register</h2>
            </div>

            <div class="formContent">
              <label for="Firstname">First Name</label>
              <input
                type="text"
                name="Firstname"
                id="Firstname"
                placeholder="Enter you First name"
              />
              <i class="icon"></i>
              <span class="errorMsg"></span>
            </div>

            <div class="formContent">
              <label for="Lastname">Last Name</label>
              <input
                type="text"
                name="Lastname"
                id="Lastname"
                placeholder="Enter your Last name"
              />
              <i class="icon"></i>
              <span class="errorMsg"></span>
            </div>

            <div class="formContent">
              <label for="Phone">Phone Number</label>
              <input
                type="tel"
                name="Phone"
                id="Phone"
                placeholder="Enter your Number"
              />
              <i class="icon"></i>
              <span class="errorMsg"></span>
            </div>

            <div class="formContent">
              <label for="Email">Email</label>
              <input
                type="email"
                name="Email"
                id="Email"
                placeholder="Enter your Email"
              />
              <i class="icon"></i>
              <span class="errorMsg"></span>
            </div>

            <div class="formContent">
              <label for="Password">Password</label>
              <input
                type="password"
                name="Password"
                id="Password"
                placeholder="Set your password "
              />
              <i class="icon"></i>
              <span class="errorMsg"></span>
            </div>

            <button type="submit" class="submit-btn">Register</button>
            <div id="results"></div>
          </div>
        </div>
      </form>

      <div
        id="success"
        class="modal"
        role="dialog"
        aria-hidden="true"
        tabindex="-1"
      >
        <div class="modal-content">
          <span id="close-btn">&times;</span>
          <h2>Success!</h2>
          <p>Your form has been submitted successfully.</p>
        </div>
      </div>
    </main>

    <script src="../script/register.js"></script>
  </body>
</html>
