body {
  margin: 0;
font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;    background: #FAF7F0;
  color: #fff;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: linear-gradient(135deg, #ff5e62, #8b2724);
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 15px;
  animation: fadeIn 0.5s, fadeOut 0.5s 3s forwards;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateY(-20px); }
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;

}

.dash img {
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.nav_bar {
  display: flex;
  justify-content: center;
  margin-left: 200px;
}

.nav_bar ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav_bar ul li a {
  text-decoration: none;
  color: #2d1f12;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav_bar ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #e966a1, #d62976);
  transition: width 0.3s ease;
}

.nav_bar ul li a:hover {
  color: #d62976;
}

.nav_bar ul li a:hover::after {
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}
.search-box input {
  border: none;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
  width: 250px;
}
.search-box button {
  background-color: #d62976;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box button img {
  width: 16px;
  height: 16px;
}

.logo{
  position: relative;
  bottom: 30px;
  left: 40px;
  height:50px ;
}

.logo img{
  width: 140px;
  height: auto;
  background: transparent;
}

.right_part{
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
}


.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.logout-btn {
  background: none;
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-size: 16px;
  transition: color 0.3s ease;
}

.logout-btn:hover {
  color: #d62976;
}
.welcome{
  color: #c83e7c;
  font-size: large;
}

.logo {
  color: #f4c430;
  font-size: 1.8rem;
  letter-spacing: 1px;
}


.profile {
  display: inline-flex;
  /* background: #030B36; */
  border-radius: 25px;
  overflow: hidden;
  font-family: sans-serif;
}

.profile a {
  display: flex;
  text-decoration: none;
  color: black;
}

.profile .log,
.profile .regs {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

/* Add vertical line between buttons */
.profile .log {
  border-right: 1px solid black;
}

.profile .log:hover,
.profile .regs:hover {
  color: #d62976;
}


#s_cart{
    width: 30px;
}

#www{
    width: 100%;
    /* height: 500px; */
}
.cart-badge {
  position: absolute;
  top: 23px;
    right: 349px;
  background-color: #ff4444;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid white;
}

.checkout-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 1100px;
  margin: 40px auto;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.address-section {
  background: #fdfdfd;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
  min-width: 320px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  animation: fadeInLeft 0.8s ease;
}

.address-section h2 {
  color: #c83e7c;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  position: relative;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 0.95rem;
  color: rgb(107, 105, 105);
}

.input-group input {
  padding: 10px 12px;
  border: solid 1px #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
}

.input-row {
  display: flex;
  gap: 20px;
}

.half {
  flex: 1;
}

.con-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-btn {
    
  width: 80%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #2a5298, #d62976);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.continue-btn:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #d62976, #030B36);
}



/* RIGHT SIDE */
.order-summary {
  background: #fdfdfd;
  padding: 30px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  animation: fadeInRight 0.8s ease;
}

.order-summary h2 {
  color: #c83e7c;
  margin-bottom: 20px;
  text-align: center;
}

.order-items {
  border-bottom: 1px solid #3e4a80;
  padding-bottom: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #f4c430;
}

.item div {
  flex: 1;
  margin-left: 12px;
}

.item-name {
    color: #848181;
  font-weight: 600;
}

.item-qty {
  font-size: 0.9rem;
  opacity: 0.8;
      color: #848181;

}

.item-price {
  font-weight: 600;
  color: #777777;
}

.order-totals {
  margin-top: 15px;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #848181;
}

.total {
  font-weight: 700;
  color: #848181;
  border-top: 1px solid #3e4a80;
  padding-top: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #020826;
  border-top: 1px solid #3e4a80;
  font-size: 0.85rem;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.footer {
  background-color: #fdf8f3;
  padding: 60px 20px 30px;
  font-family: 'Inter', sans-serif;
  color: #2d1f12;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.1);
}

.f-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.f-about {
  flex: 1 1 250px;
}

.f-about img.f-logo {
  width: 200px;
  margin-bottom: -10px;
}

.f-about p {
  font-size: 14px;
  line-height: 1.6;
  position: relative;
  right: 50px;
}

.f-links {
  flex: 1 1 180px;
  justify-content: center;
  position: relative;
  top: 22px;
  left: 62px;
  
}

.f-links h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.f-links ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.f-links ul li {
  margin: 6px 0;
}

.f-links ul li a {
  text-decoration: none;
  color: #2d1f12;
  font-size: 14px;
}

.f-links ul li a:hover {
  text-decoration: underline;
  color: #d62976;
}

.f-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 200px;
}

.f-img img {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.s-m {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.s-m img {
  width: 22px;
}

.instagram-gradient {
  background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 14px;
}

.others-media{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.others-media img{
  padding-top: 20px;
  width: 40px;
}


/* Bottom copyright */
.f-bottom {
  text-align: center;
  font-size: 13px;
  color: #777777;
  margin-top: 40px;
}


.input_group .icon {
  position: absolute;
  right: 10px;
  top: 47%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
  pointer-events: none;
}

.errorMsg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  text-align: left ;
}

.success .icon {
  color: #2ecc71;
  top: 65%;
}
.success #checkbox{
  position: absolute;
}
.success input,
.success textarea {
  border-color: #2ecc71;
}
.error input,
.error textarea {
  border-color: #e74c3c;
}
.error .icon,
.error input::placeholder,
.error textarea::placeholder {
  color: #e74c3c;
  top: 50% ;
}
