* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #faf7f0; */
font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;}

.form-container {
  max-width: 900px;
  margin: 50px auto;
  /* background: #fff; */
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /* background: #FAF7F0; */
}

.left,
.right {
  flex: 1 1 50%;
}

.l-img img {
  position: relative;
  top: 100px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  padding: 40px;
  /* background-color: #fffaf3; */
}

.header{
  display: flex;
  justify-content: center;
}

.header h2 {
   font-size: 26px;
  margin-bottom: 20px;
  color: oklab(70.547% 0.1641 -0.01718);
}

.formContent {
  margin-bottom: 20px;
  position: relative;
}

.formContent label {
  display: flex;
  margin-bottom: 6px;
  font-weight: 300;

}

.formContent input {
  width: 100%;
  height: 50px;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}
.formContent .icon {
  position: absolute;
  right: 10px;
  top: 47%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #ccc;
  pointer-events: none;
}

.errorMsg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  text-align: left ;
}

.submit-btn {
   width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #2a5298, #d62976);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: scale(1.03);
  background: linear-gradient(135deg, #d62976, #030B36);
}
.success .icon {
  color: #2ecc71;
  top: 65%;
}
.success #checkbox{
  position: absolute;
}
.success input,
.success textarea {
  border-color: #2ecc71;
}
.error input,
.error textarea {
  border-color: #e74c3c;
}
.error .icon,
.error input::placeholder,
.error textarea::placeholder {
  color: #e74c3c;
  top: 50% ;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  width: 80%;
  max-width: 65%;
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

#close-btn {
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}


